$hero-gradient: rgba($ternary-bg, $medium-dark);
$social-bg: rgba($primary-bg, $darker);
$modal-form-border: rgba($secondary-text, $dark);
$footer-links-color: rgba($primary-bg, $medium-light);
$comment-placeholder: rgba($primary-text, $medium);
$dev-bg: rgba($ternary-bg, $light);
$project-accent: rgba($accent, $lighter);

// Shadows
$backdrop-bg: rgba($ternary-text, $dark);
$border-medium: rgba($primary-bg, $medium-darker);
$shadow-border: rgba($ternary-text, $darker);
$shadow-button: rgba($ternary-text, $dark-15);
$shadow-16: rgba($ternary-text, $dark-16);
$shadow-14: rgba($ternary-text, $dark-14);
$shadow-12: rgba($ternary-text, $dark-12);
$shadow-08: rgba($ternary-text, $dark-08);
$shadow-06: rgba($ternary-text, $dark-06);
