// Fonts
$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;

$minor-size: 12px;

$main-size: 14px;
$secondary-size: 16px;
$ternary-size: 18px;

$modal-title: 20px;

$logo-size: 26;
$logo-mobile-size: 24;

$section-title: 36;
$section-mobile-title: 28;

$hero-size: 44;
$hero-mobile-size: 26;

// Mobile menu
$mobile-menu: 40px;
// 6
$mobile-menu-phone: 34px;
// 10
$mobile-menu-mail: 24px;
// 6
$mobile-menu-social: 18px;
