@mixin transition($property) {
  transition: $property 250ms $cubic;
}

@mixin centered-flex($type: flex) {
  display: $type;
  align-items: center;
  justify-content: center;
}

@mixin respond-from-min($breakpoint) {
  @media screen and (min-width: #{$breakpoint}) {
    @content;
  }
}

@mixin respond-to-max($breakpoint) {
  @media screen and (max-width: #{$breakpoint}) {
    @content;
  }
}

@mixin responsive-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;

  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - #{$mobile}) / (#{$desktopPure} - #{$mobilePure})));
}

@mixin responsive-menu-font($mobSize, $mobSizeS) {
  $addSize: $mobSize - $mobSizeS;

  font-size: calc(#{$mobSizeS + px} + #{$addSize} * ((100vw - #{$mobileS}) / (#{$mobilePure} - #{$mobilePureS})));
}