// Colors
$primary-bg: #fff;
$secondary-bg: #f5f4fa;
$ternary-bg: #2f303a;
$primary-text: #757575;
$secondary-text: #212121;
$ternary-text: #000;
$accent: #2196f3;
$accent-hover: #188ce8;
$ternary-buttons: #afb1b8;
$border: #ececec;
$border-box: #eeeeee;

$primary-text-inverted: #fff;

$lighter: 0.9;
$light: 0.8;
$medium-light: 0.6;
$medium: 0.5;
$medium-dark: 0.4;
$medium-darker: 0.3;
$dark: 0.2;
$darker: 0.1;
$dark-16: 0.16;
$dark-15: 0.15;
$dark-14: 0.14;
$dark-12: 0.12;
$dark-08: 0.08;
$dark-06: 0.06;

// Animation
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
