<section class="hero__contacts">
  <div class="hero__container container">
    <h1 class="hero__title">Let’s make something awesome together.</h1>
    <h2 class="hero__description">
      Drop us a line, or give us a heads up if you’re interested in visiting us.
    </h2>
    <!-- Navigate next -->
    <div class="section__navigate">
      <a class="section__link" href="#feedback" autofocus>
        <svg class="section__icon">
          <use href="./images/icons/sprites.svg#icon-chevron-down"></use>
        </svg>
      </a>
    </div>
  </div>
</section>
