<div class="container">
  <div class="map">
    <div class="map__thumb">
      <img class="map__image" src="./images/maps/Ukrainky_450.svg" alt="Our location">
    </div>
    <div class="map__form">
      <!-- Form -->
      <form class="order-form">
        <label class="order-form__label">
          <p class="order-form__title">Имя</p>

          <div class="order-form__box">
            <input class="order-form__input" name="name" type="text" autofocus>
            <!-- Input Icon -->
            <svg class="order-form__input-icon">
              <use href="./images/icons/sprites.svg#person"></use>
            </svg>
          </div>
        </label>
        <label class="order-form__label">
          <p class="order-form__title">Телефон</p>

          <div class="order-form__box">
            <input class="order-form__input" name="phone" type="tel">
            <!-- Input Icon -->
            <svg class="order-form__input-icon">
              <use href="./images/icons/sprites.svg#phone"></use>
            </svg>
          </div>
        </label>
        <label class="order-form__label">
          <p class="order-form__title">Почта</p>

          <div class="order-form__box">
            <input class="order-form__input" name="email" type="email">
            <!-- Input Icon -->
            <svg class="order-form__input-icon">
              <use href="./images/icons/sprites.svg#email"></use>
            </svg>
          </div>
        </label>
        <label class="order-form__textarea">
          <p class="order-form__title">Комментарий</p>

          <textarea class="order-form__comment" name="comment" rows="8" placeholder="Введите текст"></textarea>
        </label>

        <!-- Policy checkbox -->
        <label class="order-form__policy">
          <input class="order-form__checkbox" name="policy" type="checkbox">
          <span class="order-form__checkbox-icon"></span>
          <p class="order-form__text">
            Соглашаюсь с рассылкой и принимаю
            <a class="order-form__link" href="./">Условия договора</a>
          </p>
        </label>
        <button class="button" type="submit">Отправить</button>
      </form>
    </div>
  </div>
</div>
