<section class="section development">
  <div class="container">
    <h2 class="section__title">What we do</h2>

    <ul class="development__list">
      <li class="development__item">
        <picture>
          <source
            type="image/webp"
            media="screen and (min-width: 1200px)"
            srcset="
              ./images/development/coding-370.webp    1x,
              ./images/development/coding-370@2x.webp 2x,
              ./images/development/coding-370@3x.webp 3x
            "
          />
          <source
            type="image/jpeg"
            media="screen and (min-width: 1200px)"
            srcset="
              ./images/development/coding.jpg        1x,
              ./images/development/coding-370@2x.jpg 2x,
              ./images/development/coding-370@3x.jpg 3x
            "
          />
          <img
            class="development__image"
            src="./images/development/coding.jpg"
            srcset="
              ./images/development/coding.jpg        1x,
              ./images/development/coding-370@2x.jpg 2x,
              ./images/development/coding-370@3x.jpg 3x
            "
            alt="Desktop applications"
            loading="lazy"
          />
        </picture>
        <div class="development__desc">
          <p class="development__text">Desktop applications</p>
        </div>
      </li>
      <li class="development__item">
        <picture>
          <source
            type="image/webp"
            media="screen and (min-width: 1200px)"
            srcset="
              ./images/development/phone-370.webp    1x,
              ./images/development/phone-370@2x.webp 2x,
              ./images/development/phone-370@3x.webp 3x
            "
          />
          <source
            type="image/jpeg"
            media="screen and (min-width: 1200px)"
            srcset="
              ./images/development/phone.jpg        1x,
              ./images/development/phone-370@2x.jpg 2x,
              ./images/development/phone-370@3x.jpg 3x
            "
          />
          <img
            class="development__image"
            src="./images/development/phone.jpg"
            srcset="
              ./images/development/phone.jpg        1x,
              ./images/development/phone-370@2x.jpg 2x,
              ./images/development/phone-370@3x.jpg 3x
            "
            alt="Development of mobile applications"
            loading="lazy"
          />
        </picture>
        <div class="development__desc">
          <p class="development__text">Mobile development</p>
        </div>
      </li>
      <li class="development__item">
        <picture>
          <source
            type="image/webp"
            media="screen and (min-width: 1200px)"
            srcset="
              ./images/development/palette-370.webp    1x,
              ./images/development/palette-370@2x.webp 2x,
              ./images/development/palette-370@3x.webp 3x
            "
          />
          <source
            type="image/jpeg"
            media="screen and (min-width: 1200px)"
            srcset="
              ./images/development/palette.jpg        1x,
              ./images/development/palette-370@2x.jpg 2x,
              ./images/development/palette-370@3x.jpg 3x
            "
          />
          <img
            class="development__image"
            src="./images/development/palette.jpg"
            srcset="
              ./images/development/palette.jpg        1x,
              ./images/development/palette-370@2x.jpg 2x,
              ./images/development/palette-370@3x.jpg 3x
            "
            alt="Color palette"
            loading="lazy"
          />
        </picture>
        <div class="development__desc">
          <p class="development__text">Design solutions</p>
        </div>
      </li>
    </ul>
  </div>
</section>
