<section class="section">
  <div class="container">
    <h2 class="section__title hidden">Features</h2>
    <!-- Why us -->

    <ul class="features">
      <li class="features__item">
        <div class="features__icon-wrapper">
          <svg class="features__icon">
            <use href="./images/icons/sprites.svg#antenna"></use>
          </svg>
        </div>
        <h3 class="features__title">Attention to detail</h3>
        <p class="features__description">
          Ideological considerations, as well as the beginning of the daily work of shaping a
          position.
        </p>
      </li>

      <li class="features__item">
        <div class="features__icon-wrapper">
          <svg class="features__icon">
            <use href="./images/icons/sprites.svg#clock"></use>
          </svg>
        </div>
        <h3 class="features__title">Punctuality</h3>
        <p class="features__description">
          The task of the organization, especially the scope and place of training entails.
        </p>
      </li>
      <li class="features__item">
        <div class="features__icon-wrapper">
          <svg class="features__icon">
            <use href="./images/icons/sprites.svg#diagram"></use>
          </svg>
        </div>
        <h3 class="features__title">Planning</h3>
        <p class="features__description">
          Equally, consultation with a broad asset is largely responsible.
        </p>
      </li>
      <li class="features__item">
        <div class="features__icon-wrapper">
          <svg class="features__icon">
            <use href="./images/icons/sprites.svg#astronaut"></use>
          </svg>
        </div>
        <h3 class="features__title">Modern Technologies</h3>
        <p class="features__description">
          The importance of these problems is so obvious that the implementation of planned targets.
        </p>
      </li>
    </ul>
  </div>
</section>
