<ul class="filter">
  <li class="filter__item">
    <button class="button filter__btn filter__btn--active" type="button" data-all>All</button>
  </li>
  <li class="filter__item">
    <button class="button filter__btn" type="button" data-site>Web sites</button>
  </li>
  <li class="filter__item">
    <button class="button filter__btn" type="button" data-app>Applications</button>
  </li>
  <li class="filter__item">
    <button class="button filter__btn" type="button" data-design>Design</button>
  </li>
  <li class="filter__item">
    <button class="button filter__btn" type="button" data-mark>Marketing</button>
  </li>
</ul>
