<footer class="footer">
    <div class="footer__container container">
        <!-- Address -->
        <div class="address">
            <a class="logo" href="."><span class="logo--accent">Web</span>Studio</a>

            <address class="contacts">
                г. Киев, пр-т Леси Украинки, 26
                <ul class="list">
                    <li class="contacts__item">
                        <a class="contacts__link" href="mailto://info@example.com">info@example.com</a>
                    </li>
                    <li class="contacts__item">
                        <a class="contacts__link" href="tel://+380991111111">+38 099 111 11 11</a>
                    </li>
                </ul>
            </address>
        </div>
        <!-- Join -->
        <div class="join">
            <h3 class="footer__title">присоединяйтесь</h3>
            <ul class="join__social">
                <li class="join__item">
                    <a class="social__link join__link" href="./">
                        <svg class="social__icon">
                            <use href="./images/icons/sprites.svg#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="join__item">
                    <a class="social__link join__link" href="./">
                        <svg class="social__icon">
                            <use href="./images/icons/sprites.svg#twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="join__item">
                    <a class="social__link join__link" href="./">
                        <svg class="social__icon">
                            <use href="./images/icons/sprites.svg#facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="join__item">
                    <a class="social__link join__link" href="./">
                        <svg class="social__icon">
                            <use href="./images/icons/sprites.svg#linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <!-- SPAM -->
        <div class="spam">
            <h3 class="footer__title">Подпишитесь на рассылку</h3>
            <!-- Form Subscribe -->
            <form class="form-subscribe" name="form-subscribe">
                <input class="form-subscribe__input" name="mail" type="email" placeholder="Email" />
                <button class="form-subscribe__button button" type="submit">
                    Подписаться

                    <svg class="form-subscribe__icon">
                        <use href="./images/icons/sprites.svg#send"></use>
                    </svg>
                </button>
            </form>
        </div>
    </div>
</footer>