<!-- Header -->
<header class="header">
  <div class="header__container container">
    <!-- Logo -->
    <a class="logo" href="./"> <span class="logo--accent">Web</span>Studio </a>

    <div class="menu js-menu-container">
      <!-- Menu -->
      <nav class="navigation">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="./">Studio</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="portfolio.html">Portfolio</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="./contacts.html">Contacts</a>
          </li>
        </ul>
      </nav>

      <div class="menu__contacts">
        <!-- Contacts -->
        <ul class="contacts">
          <li class="contacts__item">
            <a class="contacts__link" href="mailto://info@example.com">
              <svg class="contacts__icon">
                <use href="./images/icons/sprites.svg#envelope"></use>
              </svg>
              info@devstudio.com</a
            >
          </li>
          <li class="contacts__item">
            <a class="contacts__link" href="tel://+380991111111">
              <svg class="contacts__icon">
                <use href="./images/icons/sprites.svg#smartphone"></use>
              </svg>
              +38 096 111 11 11</a
            >
          </li>
        </ul>

        <!-- Social menu -->
        <ul class="menu-social">
          <li class="menu-social__item">
            <a class="menu-social__link" href="./">Instagram</a>
          </li>
          <li class="menu-social__item">
            <a class="menu-social__link" href="./">Twitter</a>
          </li>
          <li class="menu-social__item">
            <a class="menu-social__link" href="./">Facebook</a>
          </li>
          <li class="menu-social__item">
            <a class="menu-social__link" href="./">Linkedin</a>
          </li>
        </ul>
      </div>
    </div>

    <button class="menu__button js-open-menu" type="button" aria-expanded="false">
      <svg class="menu__icon" aria-label="Переключатель мобильного меню">
        <use class="icon-cross" href="./images/icons/sprites.svg#cross"></use>
        <use class="icon-burger" href="./images/icons/sprites.svg#burger"></use>
      </svg>
    </button>
  </div>
</header>
