<div class="backdrop backdrop--is-hidden" data-backdrop>
  <div class="modal" data-modal>
    <button class="modal__close" data-close-modal type="button">
      <!-- Close -->
      <svg class="modal__icon">
        <use href="./images/icons/sprites.svg#cross"></use>
      </svg>
    </button>

    <div class="modal__content">
      <div class="modal__title">Leave your information and we'll call you back</div>

      <!-- Form -->
      <include src="./partials/order-form.html"></include>
    </div>
  </div>
</div>
