.section {
  padding: $pentadeca-gap_4x 0;

  // Desktop styles
  @include respond-from-min($desktop) {
    padding-top: $xeno-gap_g;
    padding-bottom: $xeno-gap_g;
  }

  &__title {
    margin-top: 0;
    margin-bottom: $pentadeca-gap_2x;
    color: $secondary-text;
    text-align: center;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.17;

    @include responsive-font($section-title, $section-mobile-title);

    @include respond-from-min($desktop) {
      margin-bottom: $deca-gap_5x;

      line-height: 1.14;
    }
  }

  &__navigate {
    margin-left: auto;
    margin-right: auto;
    width: 64px;
    height: 64px;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border-color: $accent-hover;
    background-color: $social-bg;
    color: $primary-text-inverted;
    transition: background-color 250ms $cubic, color 250ms $cubic;
  }

  &__link:hover,
  &__link:focus {
    color: $primary-text-inverted;
    background-color: $accent-hover;
  }

  &__icon {
    fill: currentColor;
    width: 20px;
    height: 20px;
  }
}

// Wrapper
.container {
  padding-left: $pentadeca-gap_1x;
  padding-right: $pentadeca-gap_1x;

  max-width: $mobile;
  margin-left: auto;
  margin-right: auto;

  @include respond-from-min($tablet) {
    max-width: $tablet;

    margin-left: auto;
    margin-right: auto;
  }

  @include respond-from-min($desktop) {
    max-width: $desktop;
  }
}
